<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pasilo.dao.UserMapper">


    <sql id="param_list">
        username, password
    </sql>

    <select id="getUserByName" resultType="com.pasilo.bean.User">
        select * from users
        where username=#{username} and user_type=1
    </select>

    <update id="updatePassword">
        update users
        set username=#{username}, passwd=#{password}
    </update>

    <insert id="addUser" parameterType="com.pasilo.bean.User">
        insert into users
        (username, password)
        values(#{username},#{password})
    </insert>

    <select id="ifUserExist" resultType="boolean">
        select count(id) from users
        where username=#{username}
    </select>

</mapper>