body {
    background-color: #f9f9f9
}

#some {
    margin: auto;
    border-radius: 7px;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    border-color: #ddd;
    background-color: #fff;
    width: 350px;
}

.input-font {
    font-size: 13px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

img {
    margin: auto;
    max-width: 120px;
}

.img-border-control {
    padding-top: 32px !important;
    padding-bottom: 5px !important;
}

.img-cover {
    height: 100px;
    width: 61px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 0px !important;
}

p {
    border: solid thin #ddd;
    text-align: center;
    padding: 15px 20px;
    margin: auto;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    border-radius: 5px;
    width: 350px;
    font-size: 14px !important;
}

h2 {
    font-family: Century Gothic;
    margin: auto;
    font-size: 1.7em !important;
}

ul {
    padding: 0px 40px !important;
}

li {
    display: inline;
}

#sub_btn {
    width: 100%;
    margin-top: 14px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
}

.warning-alert-style {
    margin: 20px auto 0px auto!important;
    font-size: 14px;
    width: 350px;
    display: block;
}

.warning-alert-wrapper {
    margin: 0px 0px 0px 0px!important;
}